.pagination {
    justify-content: center;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    background-color: #121321; /* Dark background color */
    border-color: #00FFFF; /* Blue border color */
    color: #00FFFF; /* Blue text color */
    border-radius: 30%;
}


.page-link-selected {
    background-color: #5072A7; /* Blue background color on hover */
    /* White border color on hover */
    color: #ffffff; /* White text color on hover */
    transition: all 0.3s ease 0.2s;
    -webkit-transition: all 0.5s ease 0.2s;
    -moz-transition: all 0.5s ease 0.2s;
    -ms-transition: all 0.5s ease 0.2s;
    -o-transition: all 0.5s ease 0.2s;
    color: #fff;
    -webkit-box-shadow: 0 0 40px rgba(73, 115, 255, 0.6);
    box-shadow: 0 0 40px rgba(73, 115, 255, 0.6);
    padding: 5px 10px; /* Adjust padding to match the default size */
    border: 1px solid #034694;
    border-radius: 30%;
}

.page-link:hover {
    background-color: #5072A7; /* Blue background color on hover */
    border-color: #034694; /* White border color on hover */
    color: #ffffff; /* White text color on hover */
    transition: all 0.3s ease 0.2s;
    -webkit-transition: all 0.5s ease 0.2s;
    -moz-transition: all 0.5s ease 0.2s;
    -ms-transition: all 0.5s ease 0.2s;
    -o-transition: all 0.5s ease 0.2s;
    color: #fff;
    -webkit-box-shadow: 0 0 40px rgba(73, 115, 255, 0.6);
    box-shadow: 0 0 40px rgba(73, 115, 255, 0.6);
}


.next-link {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; /* Center the text horizontally */
    display: flex; /* Use flexbox for vertical alignment */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    border: 2px solid #00FFFF;
    border-radius: 30%;
}
.next-link:hover{
    margin: 0;
    padding: 0;
    text-align: center; /* Center the text horizontally */
    display: flex; /* Use flexbox for vertical alignment */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    border: 2px solid #00FFFF;
    border-radius: 30%;
    background-color: #5072A7; /* Blue background color on hover */
    border-color: #034694; /* White border color on hover */
    color: #ffffff; /* White text color on hover */
    transition: all 0.3s ease 0.2s;
    -webkit-transition: all 0.5s ease 0.2s;
    -moz-transition: all 0.5s ease 0.2s;
    -ms-transition: all 0.5s ease 0.2s;
    -o-transition: all 0.5s ease 0.2s;
    color: #fff;
    -webkit-box-shadow: 0 0 40px rgba(73, 115, 255, 0.6);
    box-shadow: 0 0 40px rgba(73, 115, 255, 0.6);
}

.next-link a {
    text-decoration: none;
    color: #00FFFF;;
    background-color: #121321;
    padding: 5px 10px;
}

