body {
  margin: 0;
  padding: 0;
  background-color: #121321;
  background-image: url('{% static "main/img/background.jpg" %}');
  background-position: center;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  position: relative;
}

.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.scroll-container {
  width: 100%;
  height: 100vh; /* Высота равна высоте видимой области окна браузера */
  overflow-y: scroll;
  position: relative;
  z-index: 1; /* Положительное значение z-index, чтобы контент был над оверлеем */
}

/* Стили для скроллера */
.scroll-container::-webkit-scrollbar {
  width: 8px; /* Ширина скролл-бара */
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #00FFFF; /* Цвет ползунка скролл-бара */
  border-radius: 9px; /* Закругление углов ползунка скролл-бара */
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: #42AAFF; /* Изменение цвета ползунка при наведении */
}

/* form design */
.form-control-blue:focus,
.form-select-blue:focus {
      border-color: #007bff;
      box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
}
.label-color {
    color: #00FFFF;
}

/* button design */
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;

}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;

}

.glow-on-hover:active {
    color: #000;
}

.glow-on-hover:active:after {
    background: transparent;
}
.pagination {
    justify-content: center;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    background-color: #121321; /* Dark background color */
    border-color: #00FFFF; /* Blue border color */
    color: #00FFFF; /* Blue text color */
}

.page-link:hover {
    background-color: #5072A7; /* Blue background color on hover */
    border-color: #034694; /* White border color on hover */
    color: #ffffff; /* White text color on hover */
    transition: all 0.3s ease 0.2s;
    -webkit-transition: all 0.5s ease 0.2s;
    -moz-transition: all 0.5s ease 0.2s;
    -ms-transition: all 0.5s ease 0.2s;
    -o-transition: all 0.5s ease 0.2s;
    color: #fff;
    -webkit-box-shadow: 0 0 40px rgba(73, 115, 255, 0.6);
    box-shadow: 0 0 40px rgba(73, 115, 255, 0.6);
}

.page-link-selected {
    background-color: #5072A7; /* Blue background color for selected link */
    border-color: #034694; /* White border color for selected link */
    color: #ffffff; /* White text color for selected link */
    font-size: 18px;
}

.next-link {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; /* Center the text horizontally */
    display: flex; /* Use flexbox for vertical alignment */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    border: 2px solid #00FFFF;
    border-radius: 30%;
}

.next-link a {
    text-decoration: none;
    color: #00FFFF;;
    background-color: #121321;
    padding: 5px 10px;
}


.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
h1, h2, h3, h4, h5, h6 {
  color: #00FFFF;
}

p {
  color: #FFFFFF;
  font-size: 1.3em;

}
.cascade-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 100px;
}

.cascade-item-right {
  opacity: 0;
  transform: translateX(-100px);
  animation: cascade-right 2s forwards;
}

.cascade-item-left {
  opacity: 0;
  transform: translateX(100px);
  animation: cascade-left 2s forwards;
}

@keyframes cascade-right {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes cascade-left {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}



.custom-hr {
  position: relative;
  background-color: none;
  border: none;
  height: 1px;
  width: 100%;
  margin: 45px auto;
  text-align: center;
}

.custom-hr::after {
  position: relative;
  top: -0.8em;
  font-size: 5.0em;
  background: none;
  display: inline-block;
  color: #00FFFF;
  font-family: "Londrina Shadow";
  line-height: 1;
  content: ". . . . . . .";
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0%, 100% {
    opacity: 0.4;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
}

.custom-hr-1 {
  position: relative;
  background-color: none;
  border: none;
  height: 1px;
  width: 100%;
  margin: 45px auto;
  text-align: center;
}

.custom-hr-1::after {
  position: relative;
  top: -0.8em;
  font-size: 5.0em;
  background: none;
  display: inline-block;
  color: #00FFFF;
  font-family: "Londrina Shadow";
  line-height: 1;
  content: "- - - - - - -";
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0%, 100% {
    opacity: 0.4;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
}

.pagination {
    justify-content: center;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    background-color: #121321; /* Dark background color */
    border-color: #00FFFF; /* Blue border color */
    color: #00FFFF; /* Blue text color */
    border-radius: 30%;
}


.page-link-selected {
    background-color: #5072A7; /* Blue background color on hover */
    /* White border color on hover */
    color: #ffffff; /* White text color on hover */
    transition: all 0.3s ease 0.2s;
    -webkit-transition: all 0.5s ease 0.2s;
    -moz-transition: all 0.5s ease 0.2s;
    -ms-transition: all 0.5s ease 0.2s;
    -o-transition: all 0.5s ease 0.2s;
    color: #fff;
    -webkit-box-shadow: 0 0 40px rgba(73, 115, 255, 0.6);
    box-shadow: 0 0 40px rgba(73, 115, 255, 0.6);
    padding: 5px 10px; /* Adjust padding to match the default size */
    border: 1px solid #034694;
    border-radius: 30%;
}

.page-link:hover {
    background-color: #5072A7; /* Blue background color on hover */
    border-color: #034694; /* White border color on hover */
    color: #ffffff; /* White text color on hover */
    transition: all 0.3s ease 0.2s;
    -webkit-transition: all 0.5s ease 0.2s;
    -moz-transition: all 0.5s ease 0.2s;
    -ms-transition: all 0.5s ease 0.2s;
    -o-transition: all 0.5s ease 0.2s;
    color: #fff;
    -webkit-box-shadow: 0 0 40px rgba(73, 115, 255, 0.6);
    box-shadow: 0 0 40px rgba(73, 115, 255, 0.6);
}


.next-link {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; /* Center the text horizontally */
    display: flex; /* Use flexbox for vertical alignment */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    border: 2px solid #00FFFF;
    border-radius: 30%;
}
.next-link:hover{
    margin: 0;
    padding: 0;
    text-align: center; /* Center the text horizontally */
    display: flex; /* Use flexbox for vertical alignment */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    border: 2px solid #00FFFF;
    border-radius: 30%;
    background-color: #5072A7; /* Blue background color on hover */
    border-color: #034694; /* White border color on hover */
    color: #ffffff; /* White text color on hover */
    transition: all 0.3s ease 0.2s;
    -webkit-transition: all 0.5s ease 0.2s;
    -moz-transition: all 0.5s ease 0.2s;
    -ms-transition: all 0.5s ease 0.2s;
    -o-transition: all 0.5s ease 0.2s;
    color: #fff;
    -webkit-box-shadow: 0 0 40px rgba(73, 115, 255, 0.6);
    box-shadow: 0 0 40px rgba(73, 115, 255, 0.6);
}

.next-link a {
    text-decoration: none;
    color: #00FFFF;;
    background-color: #121321;
    padding: 5px 10px;
}

input[type="text"], input[type="email"], input[type="password"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}