{% extends 'main/base.html' %}
{%load static%}

{%block style%}
<style>
p { text-indent: 25px;
    font-size: 1.3em;
}


</style>
{%endblock%}
{%block content%}
<div class="container">
    <div class="cascade-container">
        <div class="cascade-item-right">
            <div class="row">
                <div class="col-lg-6">
                    <h1>Our Mission</h1>
                    <p>Mattis vulputate enim nulla aliquet porttitor. Elementum nibh tellus molestie nunc non. Id nibh
                        tortor id aliquet lectus proin. Amet consectetur adipiscing elit ut. Quam lacus suspendisse
                        faucibus interdum posuere lorem ipsum. Turpis egestas sed tempus urna et pharetra. Urna molestie
                        at elementum eu facilisis sed odio. Venenatis cras sed felis eget.</p>
                </div>
                <div class="col-lg-6">
                    <img src="{% static 'main/img/mission.png' %}" alt="mission">
                </div>
            </div>
        </div>
        <br><br><br>
        <hr class="custom-hr">
        <br><br><br>
        <div class="cascade-item-left">
            <div class="row">
                <div class="col-lg-6">
                    <img src="{% static 'main/img/values.png' %}" alt="values">
                </div>
                <div class="col-lg-6">
                    <h2>Our Values</h2>
                    <ul>
                        <li><p>Value: Quis risus sed vulputate odio ut enim. Condimentum id venenatis a condimentum
                            vitae sapien pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices
                            tincidunt arcu non.</p></li>
                        <li><p>Value: Non tellus orci ac auctor augue mauris. Nisi scelerisque eu ultrices vitae auctor
                            eu augue ut lectus. Ut enim blandit volutpat maecenas volutpat blandit aliquam. Morbi
                            tristique senectus et netus et.</p></li>
                        <li><p>Value: Varius sit amet mattis vulputate enim nulla aliquet porttitor. Tortor vitae purus
                            faucibus ornare suspendisse sed nisi. Ornare lectus sit amet est placerat in egestas erat
                            imperdiet. Quam lacus suspendisse faucibus interdum posuere lorem ipsum.</p></li>
                        <!-- Add more values as needed -->
                    </ul>
                </div>
            </div>
        </div>
        <br><br><br>
        <hr class="custom-hr">
        <br><br><br>
        <div class="cascade-item-right">
            <div class="row">
                <div class="col-lg-6">
                    <h2>Specific aims</h2>
                    <ul>
                        <li><p>Aim 1: Deploy my blog</p></li>
                        <li><p>Aim 2: Get a scholarship in the USA</p></li>
                        <li><p>Aim 3: Pass coding interview successfully</p></li>
                        <!-- Add more values as needed -->
                    </ul>
                </div>
                <div class="col-lg-6">
                    <img src="{% static 'main/img/Target-Aim.png' %}" alt="aims">
                </div>
            </div>
        </div>
        <br><br><br>
        <hr class="custom-hr">
        <br><br><br>
        <div class="cascade-item-left">
            <div class="row">
                <div class="col-lg-6">
                    <img src="{% static 'main/img/results.png' %}" alt="aims">

                </div>
                <div class="col-lg-6">
                    <h2>Results</h2>
                    <p>Not yet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. At augue eget arcu dictum varius duis at
                        consectetur. Facilisis mauris sit amet massa. Interdum velit euismod in pellentesque. Id
                        venenatis a condimentum vitae sapien pellentesque. Rhoncus urna neque viverra justo nec
                        ultrices. Massa tincidunt dui ut ornare lectus sit amet est. Justo nec ultrices dui sapien eget
                        mi proin sed libero. Sem et tortor consequat id. Mi proin sed libero enim. Ut enim blandit
                        volutpat maecenas volutpat blandit aliquam etiam. Sit amet massa vitae tortor condimentum
                        lacinia quis vel. Id diam vel quam elementum pulvinar etiam non. Urna et pharetra pharetra massa
                        massa ultricies mi quis hendrerit.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br>
<hr class="custom-hr">
<br><br><br>
<div class="container my-5">
    <div class="row">
        <div class="col-lg-6">
            <h2>Author Biography</h2>
            <p>Sanzhar Konysbayev is an enthusiastic and motivated 11th-grade student who exemplifies the spirit of
                determination, curiosity, and leadership. Born with a passion for knowledge and a drive to make a
                positive impact, Sanzhar's journey through academia and extracurricular activities has been marked by
                excellence and a strong commitment to personal growth.</p>
        </div>
        <div class="col-lg-6">
            <img src="{% static 'main/img/about.png' %}" alt="About Us Image" class="img-fluid rounded shadow">
        </div>
    </div>
</div>

{%endblock%}