{% extends 'main/base.html' %}
{%block style%}
<style>
p { text-indent: 25px;
font-size: 1.3em;
}


</style>
{%endblock%}
{% block content %}
<div class="container mt-5">
    <div class="row">

        {% if post.photo %}
        <div class="col-md-6">
            <img src="{{ post.photo.url }}" alt="post image" class="img-fluid border border-light rounded">
        </div>

        {% endif %}


        <div class="col-md-6">
            <h1>{{ post.title }}</h1>
            <br>
            <h3 class="text-muted">Category: {{ post.cat }}</h3>
            <h3 class="text-muted">Date: {{ post.time_update|date:"d-m-Y H:i:s" }}</h3>
        </div>
    </div>
    <br>
    <div>
        {{ post.content|linebreaks }}
    </div>
    <form method="POST">
        {% csrf_token %}
        <div class="row mt-3">
            <div class="col-md-6">
                <div class="d-flex">
                    <button class="btn btn-success reaction-button" type="submit" name="like">
                        <i class="fas fa-thumbs-up reaction-icon"></i>
                        <span class="counter">{{post.like}}</span>
                    </button>
                    <div class="mx-2"></div>
                    <button class="btn btn-danger reaction-button" type="submit" name="dislike">
                        <i class="fas fa-thumbs-down reaction-icon"></i>
                        <span class="counter">{{post.dislike}}</span>
                    </button>

                </div>
                {% if user.is_authenticated %}
                <div class="comment-form">
                    <h5>Add your comment:</h5>


                    <a href="{% url 'main:add_comment' post_slug=post.slug %}" class="glow-on-hover">Post Comment</a>

                </div>
                {% else %}
                <div class="comment-login-prompt">
                    <p>Please <a href="{% url 'users:login' %}">Log in</a> to comment.</p>
                </div>
                {% endif %}
            </div>
        </div>
    </form>
    <hr style="border-color: #DFFF00;">
    <div class="container mt-5">
        <div class="row mt-3">
            <div class="col-md-6">
                <div class="card comments-section" style="background-color: rgba(255, 255, 255, 0);">
                    <div class="card-header">
                        <h4>Comments: <span class="comment-count">{{ comments.count }}</span></h4>
                    </div>
                    <div class="card-body">
                        {% for comment in comments %}
                        <div class="comment">
                            <div class="comment-header">
                                <span class="comment-author">{{ comment.user }}</span>
                                <span class="comment-date">{{ comment.created_time|timesince }} ago</span>
                            </div>
                            <p class="comment-content">{{ comment.content }}</p>
                        </div>
                        {% empty %}
                        <div class="comment no-comments">No comments yet.</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
