
.input_text {
 border-style: none;
 background: transparent; o
 outline: none;
}

p { text-indent: 25px;
}
.neon-border {
        border: 2px solid #00FFFF;
        box-shadow: 0 0 10px #00FFFF, 0 0 20px #00FFFF, 0 0 40px #00FFFF;
        background-color: black;
}